includes:
    - vendor/nunomaduro/larastan/extension.neon

parameters:

    paths:
        - src/
        - tests/

    # Level 9 is the highest level
    level: 5

    # ignoreErrors:
    #    - '#Unsafe usage of new static\(\)#'

    ignoreErrors:
        - '#Undefined variable: \$this#'
        - '#Call to an undefined method PHPUnit\\Framework\\TestCase::artisan\(\)#'
        - '#Call to an undefined method Pest\\PendingCalls\\TestCall::artisan\(\)#'

    reportUnmatchedIgnoredErrors: false

    # excludePaths:
    #    - ./*/*/FileToBeExcluded.php

    # checkOctaneCompatibility: true
    # checkModelProperties: true
