includes:
    - vendor/nunomaduro/larastan/extension.neon

parameters:

    paths:
        - src/
        - tests/

    # Level 9 is the highest level
    level: 5

    editorUrl: 'phpstorm://open?file=%%file%%&line=%%line%%'
    editorUrlTitle: '%%file%%:%%line%%'

    ignoreErrors:
        -
            message: '#Undefined variable: \$this#'
            path: tests/Pest.php
        -
            message: '#Call to an undefined method PHPUnit\\Framework\\TestCase::artisan\(\)#'
            path: tests/MakeDtoCommandTest.php
        -
            message: '#Call to an undefined method Pest\\PendingCalls\\TestCall::artisan\(\)#'
            path: tests/MakeDtoCommandTest.php
        -
            message: '#Access to an undefined property Illuminate\\Support\\Fluent::\$[a-zA-Z0-9_]+#'
            path: tests/FluentAndNestedDtoTest.php
        -
            message: '#Access to protected property Novius\\LaravelDto\\Tests\\FullExcludeDto::\$password#'
            path: tests/ExcludeFromDTOTest.php
        -
            message: '#Access to protected property Novius\\LaravelDto\\Tests\\AttributeConfigDto::\$(age|is_admin)#'
            path: tests/AttributeConfigurationTest.php
        -
            message: '#Access to protected property Novius\\LaravelDto\\Tests\\OverriddenAttributeDto::\$prop#'
            path: tests/AttributeConfigurationTest.php
        -
            message: '#Call to an undefined method Novius\\LaravelDto\\Tests\\FullExcludeDto::(get|set)?Password\(\)#'
            path: tests/ExcludeFromDTOTest.php
        -
            message: '#Call to an undefined method Novius\\LaravelDto\\Tests\\FullExcludeDto::password\(\)#'
            path: tests/ExcludeFromDTOTest.php

    reportUnmatchedIgnoredErrors: false

